/*

!arduino/
!*.ino

!data/
!*.json
!*.txt

!doxygen

!manual_jura/
!*.pdf
!*.jpg
!*.jpeg

!tools/

!website/
!website/favicon/
!website/img/
!*.php
!*.html
!*.css
!*.js
!*.gif
!*.png
!*.svg
!*.xcf
!*.xml
!*.ico

!*.cpp
!*.hpp
!*.h

!.gitignore
!Makefile
!Readme.md
